mixin nav-bar(index)
    -let options=[{name:"Miembros",url:"/users"},{name:"Objetos",url:"/objects"},{name:"Espacios",url:"/rooms"},{name:"Acerca de",url:"/about"}]
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.me-navbar.shadow.fixed-top
        .container-fluid
            a(href=server+"/").navbar-brand
                img(src=server+"/images/ic_logo.png" width="30" height="30").d-inline-block.align-text-top.me-3
                |Inventario-Objetos
            button(type="button" data-bs-toggle="collapse" data-bs-target="#navbar").navbar-toggler
                span.navbar-toggler-icon
            div#navbar.collapse.navbar-collapse
                ul.navbar-nav.w-100.justify-content-end
                    for it,i in options
                        li.nav-item
                            if i==index
                                a(href=server+it.url).nav-link.active #{it.name}
                            else
                                a(href=server+it.url).nav-link #{it.name}
