include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/footer

-let statistics=[{name:"Veces movido"},{name:"Usuarios que comparten"},{name:"Precio"}]

doctype html
html
    head
        +header(object.name)
    body
        +nav-bar(2)
        div.me-margin-main#object-individual-component  
            div.card.me-container-filter.shadow
                .card-header
                    h5.card-title.fw-bold.m-0 Objeto
                .card-body.row
                    .col-6
                        label.form-label.fw-bold Imagen
                        br
                        img(src=object.urlImage)
                    
                    .col-6.mt-3
                        label.form-label.fw-bold Nombre
                        br
                        label.form-label #{object.name}
                        
                    .col-6
                        label.form-label.fw-bold Sonido
                        br
                        if object.urlSound!=""
                            audio(src=object.urlSound controls="controls" type="audio/mpeg" preload="preload").w-100.mt-3
                    .col-6
                        label.form-label.fw-bold Descripción
                        br
                        label.form-label #{object.description}
                    .col-6
                        label.form-label.fw-bold Funcionalidad
                        br
                        label.form-label #{object.functionality}
                    .col-6
                        label.form-label.fw-bold Precio
                        br
                        label.form-label #{object.price}
                    .col-6
                        label.form-label.fw-bold Tags
                        br
                        ul
                            for tag in object.tags
                                li.form-label #{tag}
                    .col-6
                        label.form-label.fw-bold Compartido con
                        br
                        ul
                            for user in object.sharedBy
                                li.form-label
                                    a(href=server+"/users/"+user._id) #{user.firstName} #{user.lastName}
                    .col-12
                        label.form-label.fw-bold Espacio actual
                        br
                        -let room=object.positions[object.positions.length-1].room+""
                        if room
                            label.form-label 
                                a(href=server+"/room/"+room) #{rooms.filter(x=>x._id==room)[0].name}
                    .col-12
                        label.form-label.fw-bold Mapa
                        br
                        div(style="height:30rem")#map
                    .col-12.mt-3
                        label.form-label.fw-bold Posiciones en el mapa
                        br
                        table.table 
                            thead 
                                tr 
                                    td Número
                                    td Espacio
                                    td Miembro que lo utilizó
                                    td Fecha
                                    td Consultar
                            tbody
                                -let size=object.positions.length
                                for position,i in object.positions.reverse()
                                    -let room=rooms.filter(x=>x._id==position.room+"")[0]
                                    -let user=users.filter(x=>x._id==position.createdBy+"")[0]
                                    tr
                                        td #{size-i}
                                        td #{room.name} 
                                        td #{user.firstName} #{user.lastName}
                                        td #{dateToString(position.createdAt)}
                                        td 
                                            button(@click="selectPosition("+i+")" value="Seleccionar").btn
                                                if i==0
                                                    img(src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0045DD")
                                                else
                                                    img(src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|DD2342")
                                
                    
                .card-footer.text-end 
                
            div.mt-3#user-individual-component
                div.d-flex.justify-content-center
                    for statistic,i in statistics
                        div.me-statistic-selected.card.m-2.shadow.w-100
                            .card-body
                                h5.card-title.fw-bold #{statistic.name}
                                div.progress.me-progress
                                    div.progress-bar
            
                div.mt-3
                    div.d-flex.me-container-items.justify-content-center
                       
            input(type="hidden" data=rooms)#object-rooms
            input(type="hidden" data=object)#object-object
        +footer()
        +scripts()
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtgodRqlFww_-LGzW-QrbJ3JeqGw7lK4Y&callback=initMap&libraries=&v=weekly" async)
        script(src=server+"/js/components/object-individual-component.js") 
        
