include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/footer
doctype html
html
    head
        +header("Usuarios")
    body
        +nav-bar()
        //- div.bg-dark.p-5.shadow
        //-     div.d-flex.p-5.align-items-center
        //-         div.w-100
        //-             h2.text-light Aplicación móvil
        //-             p.text-light.mt-5 Puedes descargar la aplicación móvil para complementar la experiencia
        //-             a(href=server+"").text-light.mt-5 Aplicación android
        //-         div.w-100.text-center
        //-             img(src="" height="300" width="200" alt="Imágen de la aplicación móvil")
                    
        //- div.justify-content-center.m-5.text-center
        //-     h1 Funcionalidades
        //-     each functionality in functionalities
        //-         div.bg-light.p-5.shadow-sm.m-3.w-30.b-radius.d-inline-block
        //-             div.text-center
        //-                 h3 #{functionality.title}
        //-             p.mt-3 #{functionality.content}
                    
        //- div.justify-content-center.m-5.text-center
        //-     h1 Arquitectura
        //-     div.p-5.text-center
        //-         img(src="https://github.com/EdgarPozas/inventario-objetos/blob/master/extras/DIAGRAMA_ARQUITECTURA.png?raw=true" alt="Imágen de la arquitectura del sistema").w-100
        //- hr
        //- div.justify-content-center.m-5.text-center
        //-     h1 Tecnologías
        //-     each option in tecnologies
        //-         div.bg-light.p-5.shadow-sm.m-3.w-30.b-radius.d-inline-block
        //-             div.text-center
        //-                 h3 #{option.title}
        //-             p.mt-3 #{option.content}
        //- +footer()
        //- +modal("Atención","Revisa los campos","modal-check-data",[{type:"close-secondary",title:"Cerrar"}])
        +scripts()
        
